* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  max-width: 1100px;
}

.slider__container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.slider__main {
  display: flex;
  overflow: hidden;
}

.slider__main img {
  width: 700px;
  height: 568px;
  object-fit: cover;
}

.slider__main button {
  padding: 0 5px 0 5px;
  font-size: 24px;
  font-weight: bold;
}

.dots {
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 12px;
}

.dots li {
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50%;
}

.active.active {
  background-color: black;
}
